@font-face {
    font-family: "PretendardMedium";
    src: url("../fonts/Pretendard-Medium.ttf");
}

* {
    box-sizing: border-box;
}

.englishnews{
    height: 60%;
}

.news_content {
    width: 100%;
    height: 100%;
    font-family: "PretendardMedium";
}

.englishnews {
    overflow: hidden;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #CE4D4D;
    align-items: center;
}

.englishnews_title {
    width: 80%;
    padding: 1vh 2vh 1vh 2vh;
    margin: 1vh 2vh 1vh 2vh;
    border-radius: 50px;
    border: 1px solid rgb(117, 117, 117);
    text-align: center;
    background-color: #E4E4E4;
    color: black;
}

.englishnews_page {
    overflow: hidden;
    width: 80%;
    height: 340px;
    margin: 20px 30px;
    border-radius: 0px;
    border: none;
    outline: none;
    text-align: center;
    background-color: white;
    color: black;
}

.englishnews_emoscrap {
    width: 90%;
    height: 160px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.englishnews_emo {
    width: 200px;
    margin: 2px 30px 30px 30px;
    text-align: center;
    color: black;
    background-color: #FFFFFF;
    display: flex;
}

.englishnews_smile,
.englishnews_sad,
.englishnews_angry {
    overflow: hidden;
    display: flex;
}

/* .englishnews_scrap {
    overflow: hidden;
    width: 30%;
    height: 100px;
    padding: 10px 20px;
    margin: 30px 10px;
    border-radius: 20px;
    border: 2px solid #DA8686;
    text-align: center;
    background-color: #FFFFFF;
    color: black;
} */

.emoticon-num{
}
.scrap-btn{
    position: absolute;
    right: 10%;
}


.chart:hover {
    overflow: hidden;
    background-color: #CE4D4D;
    color: #FFFFFF;
}

.chart {
    overflow: hidden;
    width: 200px;
    bottom: -15vh;
    font-size: 1rem;
    align-items: center;
    text-decoration: none;
    padding: 10px 10px;
    margin: 3vh 10vh 3vh 10vh;
    border-radius: 100px;
    border: none;
    text-align: center;
    background-color: #DA8686;
    color: white;
}

.scrap-btn{
    width: 100px;
    border: none;
    padding: 10px 10px;
    color: #000000;
    font-size: 1rem;
    border-radius: 100px;
    
}