@font-face {
    font-family: "PretendardMedium";
    src: url("../fonts/Pretendard-Medium.ttf");
}

* {
    overflow:hidden;
}

@media all and (min-width:768px) {
    .homeImg {
        width: 100vh;
        height: 100%;
        position: absolute;
        clip: rect(0px, 100vh, 100vh, 0px);
    }
}


@media all and (max-width: 768px) {
    .homeImg {
        width: 70vh;
        height: 100%;
        position: absolute;
        clip: rect(0px, 34vh, 100vh, 0px);
    }
}

@media all and (min-width: 768px) {
    .homeImg {
        width: 120vh;
        height: 100%;
        position: absolute;
        clip: rect(0px, 120vh, 100vh, 0px);
    }

    .home-small-text {
        justify-content: center;
    }
}

.Home {
    background-color: #535353;
    font-family: "PretendardMedium";
    height: 100vh;
    width: 100%;
    margin: auto;
    
}

.home-top {
    display: flex;
}

.home-small-text {
    position: absolute;
    top: 15%;
    right: 9%;
    color: #FFFFFF;
    font-size: 17px;
}

.logoImg {
    position: absolute;
    top: 8%;
    right: 2%;
    width: 50%;
    background: none;
}

.continue-btn {
    position: absolute;
    color: #CE4D4D;
    background: none;
    font-size: 1.2rem;
    padding: 10px 30px 10px 30px;
    border: 2px solid #CE4D4D;
    border-radius: 50px;
    bottom: 15%;
    right: 14%;
}

.continue-btn:hover {
    background-color: #CE4D4D;
    color: #FFFFFF;
}