@font-face {
    font-family: "PretendardMedium";
    src: url("../fonts/Pretendard-Medium.ttf");
}

.InfoPost{
    font-family: "PretendardMedium";
}

.info-post-user{
    display: flex;
}

.info-post-profile{
    margin-top: 2vh;
}

.info-post-user-nickname{
    margin-left: 1vh;
    margin-top: 2vh;
}

.info-post-user-content{
    margin-left: 9.3vh;
}

.profile-Img{
    margin-left: 1vh;
}